/* General css */
body {
    margin: 0;
    font-family: 'Open Sans';
    width: 100%;
}

button {
    font-family: 'Open Sans SemiBold';
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 600;
    color: #696969;
}

hr {
    margin: 50px 30px;
    border: 0.5px solid rgb(232, 231, 231);
}

hr#footer {
    margin: 50px 0;
}


/* navbar css */
.navbar {
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid rgb(232, 231, 231);
}

.navbar ul {
    position: absolute;
    right: 30px;
    padding-left: 0;
    margin: 12px 0;
}

.navbar li {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

#title {
    font-family: 'Turret Road';
    font-size: 35px;
    position: absolute;
    left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#explore-btn {
    margin-right: 10px;
}

#explore-btn span{
    padding-left: 3px;
}

#join-btn{
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 10px 16px;
    color: black;
}

#upload-btn {
    border-radius: 40px;
    background-color: #00A36C;
    padding: 10px 15px;
    color: white;
}

#upload-btn span {
    padding-right: 3px;
}

/* header css */
.header {
    height: 263px;
    width: 100%;
    background-image: url(../images/arveyyudi.jpeg);
    background-size: cover;
    color: white;

    /* shadow overlay */
    box-shadow: #00000095 0 0 0 1000000px inset;

    margin-top: 64px;
    padding: 10% 0;

    /* this is relative so that we can position 
    elements according to this element's position */
    position: relative;

    /* the bottom layer */
    z-index: -1;
}

.header-content {
    margin: 25px 25px;
}

.center {
    max-width: 840px;
    min-width: 50px;
    margin: auto;
}

.center h1 {
    font-family: 'Open Sans ExtraBold';
    color: white;
    margin: 0;
}

.center p {
    font-size: 14px;
    margin-bottom: 25px;
}

#search-bar {
    background-color: white;
    border-radius: 50px;
    max-width: 840px;
    min-width: 50px;
    height: 56px;
    margin: auto;
}

#search-form {
    display: inline;
    float: left;
    margin: 15px 20px;
}

#search-form input[type=search] {
    border: none;
    font-family: 'Open Sans';
    font-size: 14px;
    width: 500px;
}

::placeholder {
    opacity: 0.8;
}

#all-images-btn {
    display: inline;
    float: right;
    margin: 15px 20px;
}

#all-images-btn span{
    padding-left: 3px;
}

#popular {
    margin: 20px 0;
    font-size: 12px;
}

#popular strong {
    font-family: 'Open Sans SemiBold'
}

.bottom-div p {
    /* since the parent is relative, 
    we can position this element according to its parent */
    bottom: 0;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}

.bottom-div strong ins {
    font-family: 'Open Sans SemiBold';
}

#read-more {
    position: absolute;
    left: 30px;
    padding-bottom: 10px;
}

#image-credit {
    position: absolute;
    right: 30px;
    padding-bottom: 10px;
}

/* Media selection css */
.media-selection {
    position: relative;
    display: inline-block;
    width: 100%;
}

.media-selection ul {
    display: inline-block;
    position: relative;
    padding-left: 0;
    list-style: none;
    left: 30px;
    width: max-content;
}

.media-selection li {
    font-family: 'Open Sans SemiBold';
    font-size: 14px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-right: 5px;
    color: #696969;
    padding: 10px 16px;
    border-radius: 30px;
}

.media-selection span {
    padding-right: 5px;
}

#active-media-btn {
    background-color: rgba(242, 240, 240, 0.559);
    color: black;
}

#active-media-btn span {
    color: #00A36C; 
}

.media-selection li:hover {
    background-color: rgba(242, 240, 240, 0.559);
    border-radius: 40px;
    padding: 10px 16px;
}

#editors-choice-btn {
    position: relative;
    float: right;
    margin: 40px 30px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 10px 16px;
}

#editors-choice-btn span {
    margin-left: 3px;
}

/* Gallery css */
.gallery-section {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    height: 2400px;
    overflow: hidden;
}

.gallery {
    text-align: center; 

    line-height: 0;
    -webkit-column-count: 4;
    /* split it into 5 columns */
    -webkit-column-gap: 22px;
    /* give it a 5px gap between columns */
    -moz-column-count: 4;
    -moz-column-gap: 22px;
    column-count: 4;
    column-gap: 22px;

    z-index: -2;
}

.gallery img {
    background-size: cover;
    width: 100% !important;
    height: auto !important;
    /* to match column gap */
    margin-bottom: 22px;
}

.discover-more {
    position: relative;
    bottom: 419px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0) 20%, rgba(255,255,255,1) 90%);
    height: 192px;
    z-index: 1;
}

#discover-more-btn {
    margin-top: 100px;
    margin-bottom: 5px;
    color: black;
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 10px 16px;
    background-color: white;
}

/* Learn more css */
.learn-more{
    display: flex;
}

#heart {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 100%;
    background-color: #00a36d24;
    color: #00A36C;
    height: fit-content;
    padding: 10px 13px;
    font-size: 13px;
}

#learn-more-div {
    margin: 1% 2%;
}

#learn-more-div h2{
    font-family: 'Open Sans ExtraBold';
    font-size: 17px;
}

#learn-more-div p {
    color: #696969;
    font-size: 14px;
}

p#green-text {
    margin-top: 30px;
    padding-left: 5px;
    font-family: 'Open Sans SemiBold';
    color: #00A36C;
}


/* Quick links section */
.links-section {
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
}

#socials {
    float: left;
    width: 62%;
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 30px;
}

#socials h1 {
    font-family: 'Turret Road';
    font-size: 35px;
}

#socials p {
    margin-bottom: 25px;
    color: #696969;
    font-size: 14px;
}

#socials ul {
    list-style: none;
    padding-left: 0;
}

#socials ul li span {
    margin-right: 20px;
}

#links {
    float: left;
    width: 35%;
}

#links ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 0;
}

#columns {
    float: left;
    width: 33%;
    font-size: 14px;
}

#columns span {
    font-family: 'Open Sans SemiBold';
}

#columns ul {
    margin-top: 12px;
    color: #696969;
    line-height: 32px;
}

/* footer section */
footer {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    bottom: 0;
    background-color: lightgray;
    text-align: center;
    padding: 30px 0;
    font-size: 12px;
    padding: 25px 0;
    color: #696969;
    background-color: rgba(211, 211, 211, 0.179);
}


/* media queries for screen sizes */
@media(max-width: 1200px) {

    /* For screens up to 1200px, we reduce the columns to 4. */
    .gallery {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media(max-width: 1000px) {

    /* For screens up to 1200px, we reduce the columns to 3, and so on... */
    .gallery {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media(max-width: 800px) {
    .gallery {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media(max-width: 400px) {
    .gallery {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/* fonts */
@font-face {
    font-family: 'Turret Road';
    src: url(../font/TurretRoad-Bold.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'Open Sans Medium';
    src: url(../font/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url(../font/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url(../font/OpenSans-ExtraBold.ttf);
}
